<div class="footer">
    <div class="socials">
        <a href="https://github.com/barisdalyan" target="_blank" >
            <img src="/images/github.svg" alt="GitHub" class="social-icon"> GitHub |
        </a>
        <a href="https://medium.com/@barisdalyanemre" target="_blank">
            <img src="/images/medium.svg" alt="Medium" class="social-icon"> Medium
        </a>
    </div>
    © 2023 Baris Dalyan Emre. All rights reserved. 
</div>