@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

.heart-btn {
    position: relative;
    height: 40px;
    width: 95px;
    margin-top: 10px;
    margin-bottom:10px;
    border-radius:18px
}

.content {
    position: relative;
    height: 40px;
    width: 95px;
    border: 2px solid #eae2e1;
    border-radius: 18px;
    cursor: pointer;
}

.content.heart-active {
    border-color: #f9b9c4;
    background: #fbd0d8;
}

.heart {
    position: absolute;
    background: url("../images/heart.png") no-repeat left;
    background-size: 2900%;
    height: 40px;
    width: 40px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.text {
    position: absolute;
    font-size: 12px;
    margin-left: 32px;
    color: grey;
    font-family: 'Montserrat', sans-serif;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.num {
    position: absolute;
    font-size: 12px;
    margin-left: 65px;
    font-weight: 600;
    color: #9C9496;
    font-family: sans-serif;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.num.heart-active {
    color: #000;
}

.text.heart-active {
    color: #000;
}

.heart.heart-active {
    animation: animate .8s steps(28) 1;
    background-position: right;
}

@keyframes animate {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}